# github-build --organization Cloud-Officer --skip_slack --skip_license_check
---
name: Build
'on':
  pull_request:
    types:
    - opened
    - edited
    - reopened
    - synchronize
  push:
    branches:
    - master
    - "[0-9]*"
    - dependabot/**
    tags:
    - "**"
permissions:
  contents: read
  pull-requests: read
env:
  RUBY-BUNDLER-CACHE: 'true'
  RUBY-VERSION: 4.0.0
jobs:
  variables:
    name: Prepare Variables
    runs-on: ubuntu-latest
    outputs:
      BUILD_NAME: "${{steps.variables.outputs.BUILD_NAME}}"
      BUILD_VERSION: "${{steps.variables.outputs.BUILD_VERSION}}"
      COMMIT_MESSAGE: "${{steps.variables.outputs.COMMIT_MESSAGE}}"
      MODIFIED_GITHUB_RUN_NUMBER: "${{steps.variables.outputs.MODIFIED_GITHUB_RUN_NUMBER}}"
      DEPLOY_ON_BETA: "${{steps.variables.outputs.DEPLOY_ON_BETA}}"
      DEPLOY_ON_RC: "${{steps.variables.outputs.DEPLOY_ON_RC}}"
      DEPLOY_ON_PROD: "${{steps.variables.outputs.DEPLOY_ON_PROD}}"
      DEPLOY_MACOS: "${{steps.variables.outputs.DEPLOY_MACOS}}"
      DEPLOY_TVOS: "${{steps.variables.outputs.DEPLOY_TVOS}}"
      DEPLOY_OPTIONS: "${{steps.variables.outputs.DEPLOY_OPTIONS}}"
      SKIP_LICENSES: "${{steps.variables.outputs.SKIP_LICENSES}}"
      SKIP_LINTERS: "${{steps.variables.outputs.SKIP_LINTERS}}"
      SKIP_TESTS: "${{steps.variables.outputs.SKIP_TESTS}}"
      UPDATE_PACKAGES: "${{steps.variables.outputs.UPDATE_PACKAGES}}"
      LINTERS: "${{steps.variables.outputs.LINTERS}}"
    timeout-minutes: 30
    steps:
    - name: Prepare variables
      id: variables
      uses: cloud-officer/ci-actions/variables@v2
      with:
        ssh-key: "${{secrets.SSH_KEY}}"
        github-token: "${{secrets.GH_PAT}}"
  actionlint:
    name: Github Actions Linter
    runs-on: ubuntu-latest
    needs:
    - variables
    if: "${{needs.variables.outputs.SKIP_LINTERS != '1' && (github.event_name == 'pull_request' || github.event_name == 'pull_request_target')}}"
    timeout-minutes: 30
    steps:
    - name: Actionlint
      id: actionlint
      uses: cloud-officer/ci-actions/linters/actionlint@v2
      with:
        linters: "${{needs.variables.outputs.LINTERS}}"
        ssh-key: "${{secrets.SSH_KEY}}"
        github-token: "${{secrets.GH_PAT}}"
  markdownlint:
    name: Markdown Linter
    runs-on: ubuntu-latest
    needs:
    - variables
    if: "${{needs.variables.outputs.SKIP_LINTERS != '1' && (github.event_name == 'pull_request' || github.event_name == 'pull_request_target')}}"
    timeout-minutes: 30
    steps:
    - name: Markdownlint
      id: markdownlint
      uses: cloud-officer/ci-actions/linters/markdownlint@v2
      with:
        linters: "${{needs.variables.outputs.LINTERS}}"
        ssh-key: "${{secrets.SSH_KEY}}"
        github-token: "${{secrets.GH_PAT}}"
  semgrep:
    name: Semgrep Security Scanner
    permissions:
      actions: read
      contents: read
      security-events: write
    runs-on: ubuntu-latest
    needs:
    - variables
    if: "${{needs.variables.outputs.SKIP_LINTERS != '1' && (github.event_name == 'pull_request' || github.event_name == 'pull_request_target')}}"
    timeout-minutes: 30
    steps:
    - name: Semgrep
      uses: cloud-officer/ci-actions/linters/semgrep@v2
      with:
        linters: "${{needs.variables.outputs.LINTERS}}"
        ssh-key: "${{secrets.SSH_KEY}}"
        github-token: "${{secrets.GH_PAT}}"
  rubocop:
    name: Ruby Linter
    runs-on: ubuntu-latest
    needs:
    - variables
    if: "${{needs.variables.outputs.SKIP_LINTERS != '1' && (github.event_name == 'pull_request' || github.event_name == 'pull_request_target')}}"
    timeout-minutes: 30
    steps:
    - name: Rubocop
      id: rubocop
      uses: cloud-officer/ci-actions/linters/rubocop@v2
      with:
        linters: "${{needs.variables.outputs.LINTERS}}"
        ssh-key: "${{secrets.SSH_KEY}}"
        github-token: "${{secrets.GH_PAT}}"
  shellcheck:
    name: Shell Scripts Linter
    runs-on: ubuntu-latest
    needs:
    - variables
    if: "${{needs.variables.outputs.SKIP_LINTERS != '1' && (github.event_name == 'pull_request' || github.event_name == 'pull_request_target')}}"
    timeout-minutes: 30
    steps:
    - name: ShellCheck
      uses: cloud-officer/ci-actions/linters/shellcheck@v2
      with:
        linters: "${{needs.variables.outputs.LINTERS}}"
        ssh-key: "${{secrets.SSH_KEY}}"
        github-token: "${{secrets.GH_PAT}}"
  yamllint:
    name: YAML Linter
    runs-on: ubuntu-latest
    needs:
    - variables
    if: "${{needs.variables.outputs.SKIP_LINTERS != '1' && (github.event_name == 'pull_request' || github.event_name == 'pull_request_target')}}"
    timeout-minutes: 30
    steps:
    - name: Yamllint
      id: yamllint
      uses: cloud-officer/ci-actions/linters/yamllint@v2
      with:
        linters: "${{needs.variables.outputs.LINTERS}}"
        ssh-key: "${{secrets.SSH_KEY}}"
        github-token: "${{secrets.GH_PAT}}"
